# Compiled Source #
###################
*.la
*.lo
*.o
*.pyc

# Packaging Files #
###################
**/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
stamp-h1

debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars

debian/framework
debian/framework-dbg

# Prebuilt Source
###############
rebootbackend/common
rebootbackend/system
rebootbackend/types

# Executables #
###############
rebootbackend/rebootbackend
stateverificationd/stateverificationd

